window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px
}

player {
    position: fixed;
    border: 1px solid;
    width: 3%;
    height: 3%;
    top: 0%;
    left: 0%
}
player data {
    display: none
}